<!-- content -->
<content role="main">

    <!-- title -->
    <h1>Omnes</h1>

    <!-- Back Button -->
    <a href="/fonts">
        <div class="back fonts_back">
            <div>
                <img src="assets/img/icons/back.png" alt="back"/>
            </div>
            <span>Back</span>
        </div>
    </a>

    <!-- social -->
    <ul class="social">
        <li class="facebook">
            <img src="assets/img/icons/facebook.png" alt="share_facebook"/>
        </li>
        <li class="twitter">
            <img src="assets/img/icons/twitter.png" alt="share_twitter"/>
        </li>
        <li class="pinterest">
            <img src="assets/img/icons/pinterest.png" alt="share_pinterest"/>
        </li>
    </ul>

    <!-- infos -->
    <div class="c_shot webdesign">
        <img class="shot" src="assets/img/fonts/1.png" alt=""/>
        <div class="infos">
            <a href=""><button class="save">Save</button></a>
            <a href=""><button>Download Link</button></a>
        </div>
    </div>

</content>
