<!-- content -->
<content role="main">

    <!-- title -->
    <h1>Bitcoin / Altcoin mining</h1>
    <span>Dive deep into cloud mining using the attachment link below!</span>

    <!-- Back Button -->
    <a href="/ui-design">
        <div class="back">
            <div>
                <img src="assets/img/icons/back.png" alt="back"/>
            </div>
            <span>Back</span>
        </div>
    </a>


    <!-- social -->
    <ul class="social">
        <li class="facebook">
            <img src="assets/img/icons/facebook.png" alt="share_facebook"/>
        </li>
        <li class="twitter">
            <img src="assets/img/icons/twitter.png" alt="share_twitter"/>
        </li>
        <li class="pinterest">
            <img src="assets/img/icons/pinterest.png" alt="share_pinterest"/>
        </li>
    </ul>

    <!-- infos -->
    <div class="c_shot">
        <img class="shot" src="assets/img/ui_design/1.png" alt=""/>
        <div class="infos">
            <div class="creator">
                <img src="assets/img/ui_design/creators/1.png" alt="creator"/>
                <span>@creativemints</span>
            </div>
            <hr size="1" color="E2E3EA"/>
            <ul>
                <span>Colors :</span>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <hr size="1" color="E2E3EA"/>
            <a href=""><button class="save">Save</button></a>
            <a href=""><button>See Link</button></a>
        </div>
    </div>

</content>
