<!-- content -->
<content role="main">

    <!-- title -->
    <h1>COLORS</h1>
    <span class="subtiles">Inspire yourself from the most beautiful web designs</span>
    <ul class="pages_list">
        <li class="active">PALETS</li>
        <li>GRADIENTS</li>
    </ul>

    <!-- feed palets -->
    <ul class="feed feed_palets">
        <a href="#">
            <li>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <span>Nouebo Original</span>
            </li>
        </a>
        <a href="#">
            <li>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <span>Sunset Colors</span>
            </li>
        </a>
        <a href="#">
            <li>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <span>Creative Colors</span>
            </li>
        </a>
    </ul>

    <!-- feed gradients -->
    <ul class="feed feed_gradients">
        <a href="">
            <li>
                <div class="gradients"></div>
                <span>Night & Day</span>
            </li>
        </a>
        <a href="">
            <li>
                <div class="gradients"></div>
                <span>Sage Persuasion</span>
            </li>
        </a>
        <a href="">
            <li>
                <div class="gradients"></div>
                <span>Lizard</span>
            </li>
        </a>
    </ul>

    <button class="load_more">Load More</button>
</content>
