<!-- content -->
<content role="main">

    <!-- title -->
    <h1>UI DESIGN</h1>
    <span class="subtiles">Inspire yourself from the most beautiful web designs</span>
    <ul class="pages_list">
        <li class="active">ALL</li>
        <li>WEB</li>
        <li>MOBILE</li>
    </ul>

    <!-- feed -->
    <ul class="feed">
        <a href="#">
            <li>
                <div>
                    <img src="assets/img/ui_design/1.png" alt=""/>
                </div>
                <span>Toy Fight</span>
            </li>
        </a>
        <a href="#">
            <li>
                <div>
                    <img src="assets/img/ui_design/2.png" alt=""/>
                </div>
                <span>Nike Cortez</span>
            </li>
        </a>
        <a href="#">
            <li>
                <div>
                    <img src="assets/img/ui_design/3.png" alt=""/>
                </div>
                <span>The Glyph Studio</span>
            </li>
        </a>
    </ul>
    <button class="load_more">Load More</button>
</content>
