<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<h2>Navigation bar: </h2>
<nav>
    <h2><a rel="noopener" href="/home">Home</a></h2>
    <h2><a rel="noopener" href="/profile">Profile</a></h2>
    <h2><a rel="noopener" href="/about">About</a></h2>
    <h2><a rel="noopener" href="/colors">colors</a></h2>
    <h2><a rel="noopener" href="/fonts">fonts</a></h2>
    <h2><a rel="noopener" href="/fonts-details">fonts-details</a></h2>
    <h2><a rel="noopener" href="/gradients-details">gradients-details</a></h2>
    <h2><a rel="noopener" href="/library">library</a></h2>
    <h2><a rel="noopener" href="/palets">palets</a></h2>
    <h2><a rel="noopener" href="/sign-in-up">sign-in-up</a></h2>
    <h2><a rel="noopener" href="/ui-design">ui-design</a></h2>
    <h2><a rel="noopener" href="/ui-design-details">ui-design-details</a></h2>
    <h2><a rel="noopener" href="/web-design">web-design</a></h2>
    <h2><a rel="noopener" href="/web-design-details">web-design-details</a></h2>
</nav>
<router-outlet></router-outlet>

