<!--the content below is only a placeholder and can be replaced.-->

<!-- header -->
<header role="banner">
    <img src="assets/img/logos/logo_creadolphin.svg" alt="Logo"/>
    <ul>
        <a (click)="load('web-design')"><li>WEB DESIGN</li></a>
        <a (click)="load('ui-design')"><li>UI DESIGN</li></a>
        <a (click)="load('colors')"><li>COLORS</li></a>
        <a (click)="load('fonts')"><li>FONTS</li></a>
    </ul>
    <button id="signup">Sign Up</button>
    <button id="login">Login</button>
</header>

<!--<nav>
    <h2><a rel="noopener" href="/home">home</a></h2>
    <h2><a rel="noopener" href="/profile">profile</a></h2>
    <h2><a rel="noopener" href="/about">about</a></h2>
    <h2><a rel="noopener" href="/colors">colors</a></h2>
    <h2><a rel="noopener" href="/fonts">fonts</a></h2>
    <h2><a rel="noopener" href="/fonts-details">fonts-details</a></h2>
    <h2><a rel="noopener" href="/gradients-details">gradients-details</a></h2>
    <h2><a rel="noopener" href="/library">library</a></h2>
    <h2><a rel="noopener" href="/palets">palets</a></h2>
    <h2><a rel="noopener" href="/sign-in-up">sign-in-up</a></h2>
    <h2><a rel="noopener" href="/ui-design">ui-design</a></h2>
    <h2><a rel="noopener" href="/ui-design-details">ui-design-details</a></h2>
    <h2><a rel="noopener" href="/web-design">web-design</a></h2>
    <h2><a rel="noopener" href="/web-design-details">web-design-details</a></h2>
</nav>-->
<router-outlet></router-outlet>

<!-- footer -->
<footer role="contentinfo">
    <span>&copy; Project Name 2018  -  <a href="">TOS & Privacy Policy</a></span>
    <a href="https://www.instagram.com/creadolphin/?hl=fr" target="_blank"><img src="assets/img/icons/instagram.png" alt="Instagram Link"/></a>
</footer>
