<!-- content -->
<content role="main">

    <!-- title -->
    <h1>WEB DESIGN</h1>
    <span class="subtiles">Inspire yourself from the most beautiful web designs</span>

    <!-- feed -->
    <ul class="feed">
        <a href="#">
            <li>
                <div>
                    <img src="assets/img/web_design/1.png" alt=""/>
                    <a href="" target="_blank"><div>
                        <img src="assets/img/icons/website_link.svg" alt="Website Link"/>
                    </div></a>
                </div>
                <span>Toy Fight</span>
            </li>
        </a>
        <a href="#">
            <li>
                <div>
                    <img src="assets/img/web_design/2.png" alt=""/>
                    <a href="" target="_blank"><div>
                        <img src="assets/img/icons/website_link.svg" alt="Website Link"/>
                    </div></a>
                </div>
                <span>Nike Cortez</span>
            </li>
        </a>
        <a href="#">
            <li>
                <div>
                    <img src="assets/img/web_design/3.png" alt=""/>
                    <a href="" target="_blank"><div>
                        <img src="assets/img/icons/website_link.svg" alt="Website Link"/>
                    </div></a>
                </div>
                <span>The Glyph Studio</span>
            </li>
        </a>
    </ul>
    <button class="load_more">Load More</button>
</content>
