<!-- content -->
<content role="main">

    <!-- title -->
    <h1>FONTS</h1>
    <span class="subtiles">Inspire yourself from the most beautiful web designs</span>
    <ul class="pages_list">
        <li class="active">ALL</li>
        <li>FREE</li>
        <li>PAYING</li>
    </ul>

    <!-- feed -->
    <ul class="feed">
        <a href="#">
            <li>
                <div>
                    <img src="assets/img/fonts/1.png" alt=""/>
                </div>
                <span>Omnes</span>
            </li>
        </a>
        <a href="#">
            <li>
                <div>
                    <img src="assets/img/fonts/2.png" alt=""/>
                </div>
                <span>Decima Mono</span>
            </li>
        </a>
        <a href="#">
            <li>
                <div>
                    <img src="assets/img/fonts/3.png" alt=""/>
                </div>
                <span>Chathura</span>
            </li>
        </a>
    </ul>
    <button class="load_more">Load More</button>
</content>
